body, html {
    height: 100%;
    overflow: hidden;
}

#content-area {
    height: calc(100% - 56px);
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*margin-top: 5px;*/
}

#searchbar {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: -15px;
    margin-right: -15px;
}

#lolist {
    height: calc(100% - 56px);
    padding: 0px;
}
#lolist table {
    height: 100%;
}
#lolist table tbody {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow : 1;
    overflow: auto;
    width: 100%;
}

.hidden {
    visibility: collapse;
}

.flex-main-parent {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.flex-main-area {
    flex-grow : 1;
    margin-top: 5px;
}

.infowindoes {
    display: block;
    overflow: auto;
}