    <!--================Footer Area =================-->
    <footer class="footer_area">
      <div class="footer_copy_right">
        <div class="container">
          <h3>ลิขสิทธิ์ © <script>document.write(new Date().getFullYear());</script>2019.กองโลจิสติกส์ กรมส่งเสริมอุตสาหกรรม กระทรวงอตุสาหกรรม</h3>
        </div>
      </div>
    </footer>
    <!--================End Footer Area =================-->

    <!-- Rev slider js -->
    <script src="public/vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="public/vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script src="public/vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="public/vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script src="public/vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="public/vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="public/vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <!-- Extra Plugin js -->
    <script src="public/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="public/vendors/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- jVector maps -->
    <script src="public/vendors/jvectormap/jvectormap.min.js"></script>
    <script src="public/vendors/jvectormap/jvectormap-worldmill.js"></script>
    <script src="public/js/locations.js"></script>
    <!-- Main js -->
    <script src="public/js/script.js"></script>
  </body>
</html>